body {
    background-color: $bg-color;
    text-align: center;
    padding-top: 10em;
    margin: 0;
    font-family: 'Roboto', serif;

    @font-face {
        font-family: 'Monoid-Regular';
        src: url('../fonts/Monoid-Regular.ttf') format('truetype');
    }
}

#about, #work, #resume, #contact {
    h1:hover {
        color: $a-color;
    }
    &:hover {
        color: $a-color;
    }
    h1 {
        text-align: start;
    }

    img {
        max-width: 100%;
    }
}

#about img {
    width: 90px;
    display: block;
    margin: 10px auto;
}

#work img {
    height: auto;
    max-height: 400px;
    width: 100%;
}

nav {
    background-color: $bg-color;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-right: 40px;

        &:last-child {
            margin-right: 20px;
        }
    }

    a {
        font-size: medium;
        text-decoration: none;
        background-color: $bg-color;
        border-radius: 45px;
        border: 3px solid;
        padding: 10px 20px;
        color: $a-color;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $hover-click;
            color: $hover-click-text;
        }

        &:active {
            color: $when-active;
            background-color: $when-active-bg;
        }

        & + a {
            margin-left: 10px;
        }

        i {
            margin-right: 10px;
        }
    }

    @media (max-height: 500px) {
        a {
            padding: 10px;

            i {
                margin-right: 0;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }

            span {
                display: none;
            }
        }
    }
}

@mixin navbar {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    padding: auto;
}

#home {
    @include navbar;
}
#about-nav {
    @include navbar;
}
#work-nav {
    @include navbar;
}
#resume-nav {
    @include navbar;
}
#contact-nav {
    @include navbar;
}

footer {
    text-align: center;
    margin: 30px 0;
    color: $a-color;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    a {
        &:hover {
            background-color: $hover-click-text;
            color: $hover-click;
            border-radius: 30px;
        }
    }

    h1 {
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
    }

    p {
        margin-top: 5px;
        &:hover {
            color: $hover-click-text;
        }
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: $bg-color;
        color: $a-color;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $hover-click;
            color: $hover-click-text;
        }
    }
}
