$bg-color: rgb(53, 94, 92);
$a-color: rgb(89, 158, 89);
$when-active: rgb(108, 63, 214);
$when-active-bg: rgb(84, 240, 180);
$hover-click: rgb(202, 31, 31);
$hover-click-text: limegreen;
$accent-color: rgb(165, 82, 82);
