@import url("https://fonts.googleapis.com/css2?family=Hack&display=swap");
body {
  background-color: rgb(53, 94, 92);
  text-align: center;
  padding-top: 10em;
  margin: 0;
  font-family: "Roboto", serif;
}
@font-face {
  font-family: "Monoid-Regular";
  src: url("../fonts/Monoid-Regular.ttf") format("truetype");
}

#about h1:hover, #work h1:hover, #resume h1:hover, #contact h1:hover {
  color: rgb(89, 158, 89);
}
#about:hover, #work:hover, #resume:hover, #contact:hover {
  color: rgb(89, 158, 89);
}
#about h1, #work h1, #resume h1, #contact h1 {
  text-align: start;
}
#about img, #work img, #resume img, #contact img {
  max-width: 100%;
}

#about img {
  width: 90px;
  display: block;
  margin: 10px auto;
}

#work img {
  height: auto;
  max-height: 400px;
  width: 100%;
}

nav {
  background-color: rgb(53, 94, 92);
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 40px;
}
nav li:last-child {
  margin-right: 20px;
}
nav a {
  font-size: medium;
  text-decoration: none;
  background-color: rgb(53, 94, 92);
  border-radius: 45px;
  border: 3px solid;
  padding: 10px 20px;
  color: rgb(89, 158, 89);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
  background-color: rgb(202, 31, 31);
  color: limegreen;
}
nav a:active {
  color: rgb(108, 63, 214);
  background-color: rgb(84, 240, 180);
}
nav a + a {
  margin-left: 10px;
}
nav a i {
  margin-right: 10px;
}
@media (max-height: 500px) {
  nav a {
    padding: 10px;
  }
  nav a i {
    margin-right: 0;
  }
  nav a:not(:last-child) {
    margin-right: 20px;
  }
  nav a span {
    display: none;
  }
}

#home {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: auto;
}

#about-nav {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: auto;
}

#work-nav {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: auto;
}

#resume-nav {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: auto;
}

#contact-nav {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: auto;
}

footer {
  text-align: center;
  margin: 30px 0;
  color: rgb(89, 158, 89);
}

section {
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
section a:hover {
  background-color: limegreen;
  color: rgb(202, 31, 31);
  border-radius: 30px;
}
section h1 {
  margin-bottom: 10px;
}
section label {
  font-weight: bold;
}
section p {
  margin-top: 5px;
}
section p:hover {
  color: limegreen;
}
section form {
  max-width: 400px;
  margin: 0 auto;
}
section input[type=text],
section input[type=email],
section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
section input[type=submit] {
  background-color: rgb(53, 94, 92);
  color: rgb(89, 158, 89);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
section input[type=submit]:hover {
  background-color: rgb(202, 31, 31);
  color: limegreen;
}/*# sourceMappingURL=style.css.map */